<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javagreenS_hne.dao.MovieDAO">
	
 <select id="getMovieinfo" resultType="com.spring.javagreenS_hne.vo.MovieVO">
   select m.*,c.* from movie m , categorymain2 c where c.categoryMainName = #{part} and m.mainName = #{part};
 </select>
  
</mapper>